# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

flowstar
makefile.local
glpk.h
testcompile
fastcompile

#editor copies
\#*
*~

# flex/bison stuff
lex.yy.c
*.output
*.tab.c
*.tab.h

gmon.out