# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

flowstar
makefile.local
glpk.h
testcompile
fastcompile

#editor copies
\#*
*~

# flex/bison stuff
lex.yy.c
*.output
*.tab.c
*.tab.h

gmon.out

makefile.local

#dependency files
src/*.d

f_id.txt
flow.txt
s_id.txt
qr2.txt
qr1.txt
qr3.txt

src/.vscode

