.headerTable {
  position: fixed;
  background-color: white;
  z-index: 1;
  padding-top:10px;
  top:0px;
}
.dataTable {
  position: absolute;
  top: 26px;
}

.dataCell {
  #background-color: red;
  min-width:100px
}
.modelCell {
  #background-color: blue;
  min-width:250px
}
